<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello hi</h1>
    <div id="map" style="width:100%; height: 100vh;"></div> 
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOPd8my7ojexEYiuOSBAEkrn14D2s1RQE&callback=initMap&region=kr"></script> 
    <script> 
    function initMap() { 
        var seoul = { lat: 37.4900413 ,lng: 126.859769 }; 
        var map = new google.maps.Map( document.getElementById('map'), { zoom: 17, center: seoul }); 
        } 
    </script>
</body>
</html>